:root {
  /* colors */
  --gray-color: #e1e1e1;
  --brown-color: #5c2002;
  --black-color: #000000;
  --light-brown: #745d48;

  /* font sizes */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* site max width */
  --site-max-width: 1300px;
}
/* style for the whole website */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  background: url(coffee-minimalist.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}

/* style for navbar */
header .navbar {
  width: 100%;
  z-index: 5;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: right;
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-logo {
  position: relative;
}

.navbar .nav-logo .logo-img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 600px;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: var(--brown-color);
  font-family: "Rubik", serif;
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  background: var(--gray-color);
}

/* hero section */
.hero-section {
  min-height: 100vh;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.hero-section .hero-tagline .tagline {
  font-size: var(--font-size-xxl);
  color: var(--brown-color);
  font-family: "Kalam", serif;
  font-weight: var(--font-weight-medium);
}

.hero-section .section-content .hero-tagline {
  max-width: 70%;
  margin: 24px 0px 40px;
  font-size: var(--font-size-m);
}

.hero-section .hero-tagline .button-order-now {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--brown-color);
  border-radius: var(--border-radius-m);
  font-family: "Rubik";
  background: var(--gray-color);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}

.hero-section .hero-tagline .button-order-now:hover {
  color: var(--brown-color);
  border-color: var(--gray-color);
  background: transparent;
}

/* about section */

.about-section {
  padding: 120px 0;
}

.about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.about-section .about-image1 {
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-m);
}
